body, html {
    cursor: url(../assets/media/arrowPoint.5b3f3b5c07736388f143.svg) 15 15, move;
    height: 100%;
    width: 100%;
}
body {
    background: #050810;
    /*box-sizing: border-box;*/
    color: #f5f5f5;
   /* font-family: ExoSpace;*/
    /*margin: 0;
    padding: 0;*/
}

nav a{
    cursor: url(../assets/media/arrowClick.7219a884818048edacbe.svg) 15 15, move !important;
}


