@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html {
    cursor: url(../assets/media/arrowPoint.5b3f3b5c07736388f143.svg) 15 15, move;
    /*overflow-x: hidden;*/
}
body {
    background: #050810;
    color: #f5f5f5;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 4%;
    background: #050810;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


}
.navbar{
    overflow-y: hidden;
}

.navbar a{
    font-size: 20px;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    border-bottom: transparent solid 2px;
    transition: all 0.3s ease;


}

.navbar a:hover,.navbar a:active{
    color: #7CF03D;
    border-bottom: #7CF03D solid 2px;
    /*
    border-bottom-width: inherit;
    */
}
.navbar a:focus{
    color: #7CF03D;
}

nav a{
    cursor: url(../assets/media/arrowClick.7219a884818048edacbe.svg) 15 15, move !important;
}
.logo{
    font-weight: normal;
    font-size: 40px;
    font-family: "Roboto Condensed", serif;
    /*font-optical-sizing: auto;*/
    font-style: normal;
    color: white;
    overflow-y: hidden;

    cursor: url(../assets/media/arrowPoint.5b3f3b5c07736388f143.svg) 15 15, move;
}
.logo span {
    color: #7CF03D;

}

#bars{
    position: absolute;
    width: fit-content;
    height: 40px;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-right: 1vw;
    display: none;
    cursor: url(../assets/media/arrowClick.7219a884818048edacbe.svg) 15 15, move !important;
}

.hero{
    margin-left: 60px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -30px;
    /* overflow-y: hidden;*/
}


#hand-gif{
    width: 68px;
    top: 0;
    left: 0;
    margin-bottom: 65px;

}
.welcome{
    display: inline;
    position: relative;
    font-size: 35px;
    font-weight: bold;
    bottom:65px;
    overflow-y: hidden;


}
.hero-left>h1{
    position: relative;
    font-size: 50px;
    font-weight: bold;
    bottom: 70px;
    overflow-y: hidden;
}
.hero-left>b{
    position: relative;
    bottom: 90px;
    font-size: 35px;
    font-weight: bold;
}
.hero-left>b>span{
    color: #7CF03D;
}
.hero-des{
    position: relative;
    bottom: 80px;
    font-size: 17px;
    font-weight: bold;
    overflow-y: hidden;
}
.sm-icons{
    position: relative;
    bottom: 60px;
    left: 10px;

}
.sm-icons img{
    width: 38px;
    margin-right: 10px;
    cursor: url(../assets/media/arrowClick.7219a884818048edacbe.svg) 15 15, move !important;
}
.hero-left>button{
    position: relative;
    margin-left: 4px;
    bottom: 70px;
    width: 200px;
    height:47px;
    background: #7CF03D;
    color: black;
    font-size: 33px;
    border-radius: 40in;
    cursor: url(../assets/media/arrowClick.7219a884818048edacbe.svg) 15 15, move !important;
}
.hero-right>dotlottie-player{
    position: relative;
    width: 500px;
}
/*#about{
    width: 100%;
    !*padding: 10px 4%;*!
    position: relative;
    left: 60px;
    right: 60px;
    bottom: 50px;
}*/
#about>h2{
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
    /*text-align: center;*/
    margin-left: 560px;
    overflow-y: hidden;
    /*padding: 10px 0;*/
}
#about>h2>span{
    color: #7CF03D;
}
.about-section{
    position: relative;
    display: flex;
    /*border: black solid 5px;*/
    width: 100%;
    /*margin-right: 200px;*/
    left: 60px;
    right: 60px;
    bottom: 10px;

}
.about-section>div:nth-child(2)>p{
    overflow-y: hidden;

}
.about-section>div:first-child{
    /* background: white;*/
    width: 650px;
}

.about-section>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    width: fit-content;
    text-align: center;
    align-items: center;
    margin-right: 120px;
    margin-left:220px;
    margin-bottom:120px;
    font-size: 20px;
    /*width: 1000px;*/

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}


.home-img .img-box{
    position: relative;
    box-sizing: border-box;
    width: 380px; /*22vw*/
    height: 380px;
    /*background: red;*/
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-img .img-box::before,.home-img .img-box::after{
    content: "";
    position: absolute;
    width: 420px;/*need to decrease in media for desktops*/
    height: 420px;
    background: conic-gradient(transparent,transparent,transparent,#7CF03D);
    transform:rotate(0deg) ;
    animation: rotate 10s infinite linear;

}
.home-img .img-box::after{
    animation-delay: -5s;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
.home-img .img-box .img-item{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    background: #050810;
    border-radius: 50%;
    border: 1px solid  #050810;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}
.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

#services>h2{
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 100px;/*/////*/
    text-align: center;
    overflow-y: hidden;
    /*padding: 10px 0;*/
}
#services>h2>span{
    color: #7CF03D;
}
#services{
    position: relative;
    bottom: 50px;
    justify-content: center;
    align-items: center;
}
.service-container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: black solid 5px;*/
    width: 100%;
}
.service-container>div{
    padding: 0 20px 0 20px;
    height: 400px;
    background-color: rgba(124, 240, 61, 9%);
    box-shadow: 0 5px 10px rgba(124, 240, 61, 0.8);
    /*border: 3px solid darkslategray;*/
    margin: 50px 50px 50px 50px;
    border-radius: 8%;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    transition: .5s ease;

}
.service-container .service-box:hover{
    background-color: rgba(124, 240, 61, 20%);
    transform: scale(1.02);
}
.service-container>div>h3{
    text-align: center;
    font-size: 30px;
    /*font-weight: bold;*/
    color: white;
    overflow-y: hidden;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}
.ser-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.service-container>div>p{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    margin: 20px 40px 10px 40px;
    overflow-y: hidden;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

.download-cv-button{
    width: 200px;
    height:47px;
    background: #7CF03D;
    color: black;
    font-size: 23px;
    border-radius: 40in;
    cursor: url(../assets/media/arrowClick.7219a884818048edacbe.svg) 15 15, move !important;
}
.download-cv{
    position: relative;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}


@media all and (max-width: 768px){
    .hero{
        /*flex-direction: column;*/
        display: grid;
        width: fit-content;
        height: auto;
        /*margin-top: 0;*/
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        padding: 0 0;


    }
    .hero-left{ /*welcome-description*/
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0 2%;
        bottom: 200px;


    }
    .hero-right{ /*Animation*/

        grid-column: 1/2;
        grid-row: 1/2;
        padding: 0 2%;
        bottom: 80px;


    }

    .service-container{
        grid-template-columns: repeat(1,1fr);
    }


}

@media all and (max-width: 1024px) and (min-width: 769px){
    .service-container>div>p{
        font-size: 15px;
    }
    .service-container>div>h3{
        font-size: 25px;
    }

}

@media all and (max-width: 1024px){
    .navbar{
        display: none;
    }
    #bars{
        display: block;
    }
    .header{
        padding: 10px 2%;
    }

    .service-container>div {
        overflow: hidden;
        margin: 20px 20px 50px 20px;
    }






}

@media all and (max-width: 500px){
    .logo{
        font-size: 30px;
    }
    #bars{
        width: 30px;
    }
    #hand-gif{
        width: 48px;
        margin-bottom: 30px;
    }
    .welcome{
        font-size: 25px;
        bottom:40px;
    }
    .hero-left>h1{
        font-size: 40px;
        bottom: 40px;
    }
    .hero-left>b{
        bottom: 70px;
        font-size: 25px;
    }
    .hero-des{
        bottom: 70px;
        font-size: 12px;
    }
    .sm-icons{
        bottom: 60px;
        left: 10px;

    }
    .sm-icons img{
        width: 28px;
        margin-right: 8px;
        cursor: url(../assets/media/arrowClick.7219a884818048edacbe.svg) 15 15, move !important;
    }
    .hero-left>button{
        margin-left: 4px;
        bottom: 70px;
        width: 170px;
        height:37px;
        font-size: 23px;
        border-radius: 30in;
    }
    .hero-left{
        position: relative;
        bottom: 200px;
    }
    .hero-right{ /*Animation*/
        position: relative;
        bottom: 80px;
    }
    .hero-right>dotlottie-player{
        position: relative;
        margin-top: 30px;
        margin-bottom: 50px;
        width: 350px;
    }
}

@media all and (max-width: 500px){
    .home-img .img-box{
        width: 250px;
        height: 250px;
    }
    .home-img{
        width: 275px;
    }
    .about-section>div:nth-child(2){
        display: flex;
        position: relative;
        /*width: 300px;*/
        /* margin-left:0;*/
        margin-top: 50px;
        font-size: 15px;
        width: auto;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 10px;
        padding-right: 10px;
        /*right: 10px;*/



        /*right: 15vw;*/



    }
    #about{
        margin-top: -300px;

    }
    #about>h2{
        text-align: center;
        margin-left: 0;
        margin-bottom: 50px;
    }



}

@media all and (max-width: 1000px) and (min-width: 769px) {
    .hero-right>dotlottie-player {
        width: 350px;
    }
}

@media all and (max-width: 1000px) {
    .about-section{
        flex-direction: column;
    }
    .about-section>div:nth-child(2){
        margin-left:10px;
        margin-right: 10px;
        margin-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .about-section{

        left: 10px;
        right: 10px;
    }
    .home-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #about>h2{
        text-align: center;
        margin-left: 0;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .about-section>div:first-child{
        width:auto;
    }

    #services>h2{
        margin-top: 20px;
    }


}

@media all and (max-width: 1250px) and (min-width: 1001px) {
    #about>h2{
        text-align: center;
        margin-left: 0;
        margin-bottom: 50px;
    }

    .about-section>div:nth-child(2) {
        margin-left: 120px;
    }
    .about-section>div:first-child{
        width: 750px;
    }


}
